<div>
  
  <div class="container">
    <app-add-task (newTaskEmitter)="addedTask($event)"></app-add-task>
  </div>

  <div class="container">
    <app-todo-task-list [todoTaskList]="todoTaskList" (doneTaskEmitter)="doneTask($event)" (removeTaskEmitter)="removedTask($event)"></app-todo-task-list>

    <app-done-task-list [doneTaskList]="doneTaskList" [doneTaskCounter]="doneTaskCounter"></app-done-task-list>
  </div>

</div>

<!-- <div>
  <div class="container">
    <div>
      <input [(ngModel)] = "newTaskName">
      <button (click)="addNewTask()">Add task</button>
    </div>
  </div>

  <div class="container">
    <div>
      <div *ngIf="todoTaskList.length == 0; then noTasksTodoBlock; else someTasksTodoBlock"></div>

      <ng-template #noTasksTodoBlock>
        Nothing to do, have some fun!
      </ng-template>
      <ng-template #someTasksTodoBlock>
        <ul>
          <li *ngFor="let task of todoTaskList; let i = index">
            {{task.name}}
            <button (click)="removeNewTask(i)">Remove this task</button>
            <button (click)="taskDone(i)">Task Done</button>
          </li>
        </ul>
      </ng-template>


    </div>
    <div>
      Done count: {{doneTaskCounter}} <br>
      <ul>
        <li *ngFor="let task of doneTaskList">
          {{task.name}}
        </li>
      </ul>
    </div>
  </div>

</div> -->